.SFMainWindow {
	background-color: rgb(250,250,250);
}

.SFMainWindow > table.table1 > tbody > tr > th {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #5396CA;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
  	background: transparent;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	/*background: #CAE8EA url(images/bg_header.jpg) no-repeat;*/
	font-size: 16px;
}

.SFMainWindow table.table1 > tbody > tr > td {
	border: 1px solid gray;
	padding-left: 8px;
	padding-right: 8px;
	color: #4f6b72;
	max-width: 250px;
	overflow: hidden;
	word-wrap: break-word;
	font-size: 16px;
}

.SFMainWindow table.table1 > tbody > tr > td.td1 {
	background-color: white;
}

.SFMainWindow table.table1 > tbody > tr > td.td2 {
	background-color: rgb(240,240,240);
}

.SFMainWindow table.table1 > tbody > tr > td.td3 {
	background-color: rgb(240,255,240);
}

.SFMainWindow table.table1 th > td {
	font-weight: bold;
}

.SFMainWindow table.table1 td {
	text-align: center;
}
.SFMainWindow table.table1 td.td3 {
	text-align: left;
}

/* why does this not work? Is it because we have complex elements inside the table? */
.SFMainWindow .table1 > tbody > tr > td:hover {
	background-color: rgb(220,220,240);
}

.SFMainWindow table.table2 > tbody > tr > td {
	max-width: 300px;
	overflow: hidden;
	word-wrap: break-word;
	font-size: 12px;
	text-align: left;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
	stroke-width:0px;
	font-size:8px;
}

.axis path {
	stroke:rgb(22,20,18);
	stroke-width:1px;
	fill:none;
}

.axis line {
	stroke:rgb(22,20,18);
	stroke-width:1px;
	fill:none;
}

.axis_label {
	font-size: 12px;
}
